# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv
*.egg-info/
.pytest_cache/

# Node.js
node_modules
ui/node_modules
npm-debug.log*

# Environment files
.env
.env.*

# IDE and OS files
.idea/
.vscode/
*.swp
.DS_Store

# Logs
logs/
*.log